/* The following rules are used so that we can use 'mx-auto' to horizontally center the elements */
.connect-header--fixedWidth {
  width: 225px;
}

.hobbies-fa--centered {
  width: 48px;
  display: block !important;
}

.hobbies-faWide--centered {
  width: 60px;
  display: block !important;
}

.hobbies-bg--fixedWidth {
  width: 120px;
}

.hobbies-sv--fixedWidth {
  width: 140px;
}

.hobbies-ssb--fixedWidth {
  width: 166px;
}

.hobbies-ult--fixedWidth {
  width: 78px;
}

.hobbies-ph--fixedWidth {
  width: 120px;
}

/* End of rules created for 'mx-auto' */
